

.post-create-container{
  margin: 0 auto;
  width: 500px;
  padding: 10px 20px 20px;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 20px;
}

.text-input{
  margin-top:75px;
}

.component-header{
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background: #ebebeb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
